
<html>

<body>
<jhi-alert></jhi-alert>
<div class="modal-header">
   <h2 class="headerImpression"> Impression des documents</h2>

    </div>

<div class="row">
    <div class="col-xs-4">
        <button class="btn btn-primary" ng-click="vm.ouvirActeNaissancePopup()" >
                    <span  data-translate="etatCivilApp.declarationExtrait.home.impressionExtrait">
                        Create new Declaration Extrait
                    </span>
        </button>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-xs-4">
        <button class="btn btn-primary" ng-click="vm.ouvirTranscriptionPopup()" >
                    <span  data-translate="etatCivilApp.declarationExtrait.home.impressionTranscription">
                        Create new Declaration Extrait
                    </span>
        </button>
    </div>
</div>

 <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.retourAccueil();">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Retour</span>
        </button>

   </div>
</body>

</html>

