<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h4 class="modal-title" id="recapDeclarationExtraitLabel"
            data-translate="etatCivilApp.declarationExtrait.home.recaptitulatif">Recapitulatif Declaration
            Extrait</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <!--container-->
        <div>


            <!--mere-->
            <fieldset class="fieldsetMere">
                <legend>Information de la Maman</legend>
                <div style="display: flex; justify-content: space-between">

                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.nomMere">Nom Mere</label>
                            <span> {{vm.declarationExtrait.nomMere}} yoooooo</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.prenomMere">Prenom Mere</label>
                            <span> {{vm.declarationExtrait.prenomMere}} heyyyy</span></div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.dateNaissanceMere">Date Naissance
                                Mere</label>
                            <span> {{vm.declarationExtrait.dateNaissanceMere}} hiif</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.fonctionMere">Fonction Mere</label>
                            <span>{{vm.declarationExtrait.fonctionMere}} sqfdzef</span>
                        </div>
                    </div>


                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label class="control-label"
                                   data-translate="etatCivilApp.declarationExtrait.adresseComplMere">Adresse Compl
                                Mere</label>
                            <span>{{vm.declarationExtrait.adresseComplMere}} golo</span>
                        </div>

                        <div>
                            <label class="control-label"
                                   data-translate="etatCivilApp.declarationExtrait.numeroIdentiteMere">Numero Identite
                                Mere</label>
                            <span>{{vm.declarationExtrait.numeroIdentiteMere}} gili</span>
                        </div>

                        <div>
                            <label class="control-label"
                                   data-translate="etatCivilApp.declarationExtrait.numeroPassportMere">Numero Passport
                                Mere</label>
                            <span>{{vm.declarationExtrait.numeroPassportMere}}gala</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.paysNaissanceMere">Pays
                                Naissance Mere</label>
                            <span>{{vm.declarationExtrait.paysNaissanceMereId}}fzerdgergetrg</span>
                        </div>
                    </div>


                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.lieuNaissanceMere">Lieu
                                Naissance Mere</label>
                            <span>{{vm.declarationExtrait.lieuNaissanceMereId}}dfugyfy</span>
                        </div>

                        <div>

                            <label data-translate="etatCivilApp.declarationExtrait.adrPaysMere">Adr Pays Mere</label>
                            <span>{{vm.declarationExtrait.adrPaysMereId}}fgzergrg</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.adresseMere">Adresse
                                Mere</label>
                            <span>{{vm.declarationExtrait.adresseMereId}}gerghsretghtr</span>
                        </div>
                    </div>

                </div>
            </fieldset>

            <!--pere-->
            <fieldset class="fieldsetPere">
                <legend>Information Père</legend>

                <div style="display: flex; justify-content: space-between">

                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.nomPere">Nom Pere</label>
                            <span>{{vm.declarationExtrait.nomPere}}</span>
                        </div>

                        <div>
                            <label class="control-label" data-translate="etatCivilApp.declarationExtrait.prenomPere">Prenom
                                Pere</label>
                            <span>{{vm.declarationExtrait.prenomPere}}</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.dateNaissancePere">Date Naissance
                                Pere</label>
                            <span>{{vm.declarationExtrait.dateNaissancePere}}</span>

                        </div>

                        <div>
                            <label class="control-label"
                                   data-translate="etatCivilApp.declarationExtrait.adresseComplPere">Adresse Compl
                                Pere</label>
                            <span>{{vm.declarationExtrait.adresseComplPere}}</span>

                        </div>

                    </div>

                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label class="control-label" data-translate="etatCivilApp.declarationExtrait.fonctionPere">Fonction
                                Pere</label>
                            <span>{{vm.declarationExtrait.fonctionPere}}</span>
                        </div>

                        <div>
                            <label class="control-label"
                                   data-translate="etatCivilApp.declarationExtrait.numeroIdentitePere">Numero Identite
                                Pere</label>
                            <span>{{vm.declarationExtrait.numeroIdentitePere}}</span>
                        </div>

                        <div>
                            <label class="control-label"
                                   data-translate="etatCivilApp.declarationExtrait.numeroPassportPere">Numero Passport
                                Pere</label>
                            <span>{{vm.declarationExtrait.numeroPassportPere}}</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.paysNaissancePere">Pays Naissance
                                Pere</label>
                            <span>{{vm.declarationExtrait.paysNaissancePereId}}</span>
                        </div>
                    </div>


                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.lieuNaissancePere">Lieu Naissance
                                Pere</label>
                            <span>{{vm.declarationExtrait.lieuNaissancePereId}}</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.adrPaysPere">Adr Pays Pere</label>
                            <span>{{vm.declarationExtrait.adrPaysPereId}}</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.adressePere">Adresse Pere</label>
                            <span>{{vm.declarationExtrait.adressePereId}}</span>
                        </div>
                    </div>

                </div>
            </fieldset>

            <!--enfant-->
            <fieldset class="fieldsetEnfant">
                <legend>Information à l'enfant</legend>

                <div style="display: flex; justify-content: space-between">

                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label class="control-label" data-translate="etatCivilApp.declarationExtrait.nomEnfant">Nom
                                Enfant</label>
                            <span>{{vm.declarationExtrait.nomEnfant}}</span>
                        </div>

                        <div>
                            <label class="control-label" data-translate="etatCivilApp.declarationExtrait.prenomEnfant">Prenom
                                Enfant</label>
                            <span>{{vm.declarationExtrait.prenomEnfant}}</span>
                        </div>

                        <div>
                            <label class="control-label"
                                   data-translate="etatCivilApp.declarationExtrait.dateNaissanceEnfant">Date Naissance
                                Enfant</label>
                            <span>{{vm.declarationExtrait.dateNaissanceEnfant}}</span>
                        </div>


                    </div>

                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.paysNaissanceEnfant">Pays Naissance
                                Enfant</label>
                            <span>{{vm.declarationExtrait.paysNaissanceEnfantId}}</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.lieuNaissanceEnfant">Lieu Naissance
                                Enfant</label>
                            <span>{{vm.declarationExtrait.lieuNaissanceEnfantId}}</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.adrPaysEnfant">Adr Pays
                                Enfant</label>
                            <span>{{vm.declarationExtrait.adrPaysEnfantId}}</span>
                        </div>


                    </div>

                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label class="control-label" data-translate="etatCivilApp.declarationExtrait.genreEnfant">Genre
                                Enfant</label>
                            <span>{{vm.declarationExtrait.genreEnfant}}</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.adresseEnfant">Adresse Enfant</label>
                            <span>{{vm.declarationExtrait.adresseEnfantId}}</span>
                        </div>
                    </div>

                </div>
            </fieldset>

            <!--commun à  l'extrait-->
            <fieldset class="fieldsetCommun">
                <legend>Informations communes à l'extrait</legend>

                <div style="display: flex; justify-content: space-between">

                    <div style="display: flex;flex-direction: column">

                        <div>
                            <div class="form-group" ngf-drop
                                 ngf-change="vm.setCopieLiterale($file, vm.declarationExtrait)">
                                <label class="control-label_recap"
                                       data-translate="etatCivilApp.declarationExtrait.copieLiterale"
                                       for="field_copieLiterale_recap">Copie Literale</label>
                                <div>
                                    <div ng-if="vm.declarationExtrait.copieLiterale" class="help-block clearfix">
                                        <a class="pull-left"
                                           ng-click="vm.openFile(vm.declarationExtrait.copieLiteraleContentType, vm.declarationExtrait.copieLiterale)"
                                           data-translate="entity.action.open">open</a><br>
                                        <span class="pull-left">{{vm.declarationExtrait.copieLiteraleContentType}}, {{vm.byteSize(vm.declarationExtrait.copieLiterale)}}</span>
                                    </div>
                                </div>
                                <input type="hidden" name="copieLiterale" id="field_copieLiterale_recap"
                                       ng-model="vm.declarationExtrait.copieLiterale"
                                       required minbytes="8192" maxbytes="25165824"/>

                            </div>
                            <div class="form-group" ngf-drop
                                 ngf-change="vm.setCopieCarte($file, vm.declarationExtrait)">
                                <label class="control-label" data-translate="etatCivilApp.declarationExtrait.copieCarte"
                                       for="field_copieCarte_recap">Copie Carte</label>
                                <div>
                                    <div ng-if="vm.declarationExtrait.copieCarte" class="help-block clearfix">
                                        <a class="pull-left"
                                           ng-click="vm.openFile(vm.declarationExtrait.copieCarteContentType, vm.declarationExtrait.copieCarte)"
                                           data-translate="entity.action.open">open</a><br>
                                        <span class="pull-left">{{vm.declarationExtrait.copieCarteContentType}}, {{vm.byteSize(vm.declarationExtrait.copieCarte)}}</span>
                                        <button type="button"
                                                ng-click="vm.declarationExtrait.copieCarte=null;vm.declarationExtrait.copieCarteContentType=null;"
                                                class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <button type="button" ngf-select class="btn btn-default btn-block"
                                            ngf-change="vm.setCopieCarte($file, vm.declarationExtrait)"
                                            data-translate="entity.action.addblob">
                                        Add blob
                                    </button>
                                </div>

                                <input type="hidden" name="copieCarte" id="field_copieCarte_recap"
                                       ng-model="vm.declarationExtrait.copieCarte"
                                       required minbytes="8192" maxbytes="25165824"/>
                                <input type="hidden" name="copieCarteContentType"
                                       id="field_copieCarteContentType_recap"
                                       ng-model="vm.declarationExtrait.copieCarteContentType"/>

                            </div>
                        </div>

                    </div>


                    <div style="display: flex;flex-direction: column">

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.paysDeclaration">Pays
                                Declaration</label>
                            <span>{{vm.declarationExtrait.paysDeclarationId}}</span>
                        </div>

                        <div>
                            <label data-translate="etatCivilApp.declarationExtrait.lieuDeclaration">Lieu
                                Declaration</label>
                            <span>{{vm.declarationExtrait.lieuDeclarationId}}</span>
                        </div>

                    </div>

                    <div style="display: flex;flex-direction: column">
                        <div>
                            <label class="control-label" data-translate="etatCivilApp.declarationExtrait.mention"
                                   for="field_mention_recap">Mention</label>
                            <textarea name="mention" id="field_mention_recap"
                                      ng-model="vm.declarationExtrait.mention" readonly></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>

