<div>

    <div class="modal-header">
    <h4 class="transcription_header" translate="etatCivilApp.declarationExtrait.search.title">Declaration Naissances</h4>
    </div>

    <jhi-alert></jhi-alert>

    <form>
        <div class="flexRecherche">

            <div class="flexItemRecherche1">
                <!--num registre-->
                <div class="form-group">
                    <label class="control-label" translate="etatCivilApp.declarationExtrait.search.numeroRegistre"
                           for="field_child_name">N° registre</label>
                    <input type="text" class="form-control" name="childName" id="field_child_id"
                           ng-model="vm.numeroRegistre"
                    />
                </div>

                <!--date naissance enfant-->
                <div class="form-group">
                    <label class="control-label" data-translate="etatCivilApp.declarationExtrait.search.dateNaissance"
                           for="field_dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance"
                               uib-datepicker-popup="{{dateformat}}"
                               ng-model="vm.dateNaissance"
                               is-open="vm.datePickerOpenStatus.dateNaissance"
                               required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateNaissance')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.dateNaissance.$invalid">
                        <p class="help-block"
                           ng-show="editForm.dateNaissance.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flexItemRecherche2">

                <!--nom mere-->
                <div class="form-group">
                    <label class="control-label" translate="etatCivilApp.declarationExtrait.search.nom"
                           for="field_child_name">Nom</label>
                    <input type="text" class="form-control" name="childName" id="field_child_name"
                           ng-model="vm.nomEnfant"
                    />
                </div>

                <!--prenom mere-->
                <div class="form-group">
                    <label class="control-label" translate="etatCivilApp.declarationExtrait.search.prenom"
                           for="field_child_firstname">Prenom</label>
                    <input type="text" class="form-control" name="childName" id="field_child_firstname"
                           ng-model="vm.prenomEnfant"
                    />
                </div>
            </div>

        </div>

            <br>

        <div class="rechercheButton">
            <button type="button" class="btn btn-default" ng-show="!test" ui-sref="home">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
            </button>

            <button type="button" class="btn btn-primary" ng-click="vm.search()">
                <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                translate="etatCivilApp.declarationExtrait.search.rechercher">Rechercher</span>
            </button>
        </div>
    </form>

    <br>
    <br>
    <div class="table-responsive"  ng-if="!noData">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span translate="etatCivilApp.declarationExtrait.search.nom">Nom enfant</span></th>
                <th><span translate="etatCivilApp.declarationExtrait.search.prenom">Prénom enfant</span></th>
                <th><span translate="etatCivilApp.declarationExtrait.search.dateNaissanceEnfant">Date naissance enfant</span>
                </th>
                <th><span translate="etatCivilApp.declarationExtrait.search.prenomPere">Prénom père</span></th>
                <th><span translate="etatCivilApp.declarationExtrait.search.prenomMere">Prénom mère</span></th>
                <th><span translate="etatCivilApp.declarationExtrait.search.nomMere">Nom mère</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="declarationNaissance in vm.declarationNaissances track by declarationNaissance.id">

                <td>{{declarationNaissance.enfant.nom}}</td>
                <td>{{declarationNaissance.enfant.prenom}}</td>
                <td>{{declarationNaissance.enfant.dateNaissance | date:'mediumDate'}}</td>
                <td>{{declarationNaissance.pere.prenom}}</td>
                <td>{{declarationNaissance.mere.prenom}}</td>
                <td>{{declarationNaissance.mere.nom}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="declaration-extrait-detail-recherche({id:declarationNaissance.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="alert-info" ng-show="noData"><span translate="etatCivilApp.declarationExtrait.search.noData" >Aucune donnéé trouvéé</span></div>

</div>
